<configuration>                                                                
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">            
        <file>logs/kstream.log</file>                                  
        <append>true</append>                                                  
        <encoder>                                                              
            <pattern>%d{HH:mm:ss.SSS} TKD [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>                                                             
    </appender>                                                                

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">       
        <appender-ref ref="FILE" />                                            
    </appender>                                                                

    <root level="INFO">                                                       
        <appender-ref ref="ASYNC" />                                           
    </root>                                                                    
</configuration> 

