dist
*classes
target/
build/
.gradle/
gradle/wrapper/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.idea
.svn
.classpath
*~
*#
.#*
rat.out
TAGS
*.iml
.project
.settings
.gradle
kafka.ipr
kafka.iws
