dist
*classes
target/
build/
.gradle/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
patch-process/*
.idea
.svn
.classpath
/.metadata
/.recommenders
*~
*#
.#*
rat.out
TAGS
*.iml
.project
.settings
.gradle
kafka.ipr
kafka.iws
.vagrant
Vagrantfile.local
/logs
.DS_Store

config/server-*
config/zookeeper-*
core/data/*
gradle/wrapper/*

results
tests/results
.ducktape
tests/.ducktape
tests/venv
.cache

docs/generated/
