attrs==21.2.0
avro==1.11.3
bcrypt==4.0.1
boto3==1.20.54
botocore==1.23.54
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.1
configparser==4.0.2
contextlib2==0.6.0.post1
crcmod==1.7
cryptography==41.0.3
elasticsearch==7.17.6
charset-normalizer==2.0.6
click==8.0.1
debugpy==1.4.3
flake8==3.9.2
Flask==2.2.5
Flask-HTTPAuth==4.4.0
google-api-core==2.0.1
google-auth==2.2.0
google-cloud-core==2.0.0
google-cloud-storage==1.42.2
google-crc32c==1.2.0
google-resumable-media==2.0.3
googleapis-common-protos==1.53.0
grpcio==1.58.0
idna==3.7
iniconfig==1.1.1
itsdangerous==2.0.1
javaobj-py3==0.4.3
jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.1.3
mccabe==0.6.1
opencensus-proto==0.1.0
opentelemetry-proto==1.19.0
packaging==23.0
paho-mqtt==1.5.1
pluggy==1.0.0
protobuf==4.24.4
py==1.10.0
pyasn1==0.4.8
pycodestyle==2.7.0
pycparser==2.21
pycryptodome==3.19.1
pyflakes==2.3.1
pyjks==20.0.0
pyparsing==3.0.9
pytest==6.2.5
python-dateutil==2.8.2
pytz==2021.1
requests==2.32.2
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
toml==0.10.2
twofish==0.3.0
urllib3==1.26.7
websocket-client==1.2.1
Werkzeug==2.2.3
zstandard==0.15.2
psutil==5.9.0
gnupg==2.3.1
selenium==4.14.0
distro==1.9.0
jwcrypto==1.5.6
python-jwt==4.0.0
