<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="PerfCounterFactory.config">
    <add key="PerfCounterFactory" value="SCPPerfCounter.APCounter.APPerfCounterFactory, SCPPerfCounter.APCounter"/>
    <add key="CounterFilePrefix" value="SCP_Java_Proxy_"/>
    <add key="CounterMaxFileSizeInBytes" value="26214400"/>
  </appSettings>
</configuration>
