<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <root>
        <level value="ALL" />
        <!--<appender-ref ref="ConsoleAppender" />-->
        <appender-ref ref="KafkaFileAppender" />
        <appender-ref ref="ZookeeperFileAppender" />
    </root>
    <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5level - %message - %logger%newline" />
        </layout>
    </appender>-->
    <appender name="KafkaFileAppender" type="log4net.Appender.FileAppender">
        <filter type="log4net.Filter.LoggerMatchFilter">
            <LoggerToMatch value="Kafka.Client."/>
        </filter>
        <filter type="log4net.Filter.DenyAllFilter" />
        <file value="kafka-logs.txt" />
        <appendToFile value="false" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="[%-5level] - [%logger] - %message%newline" />
        </layout>
    </appender>
    <appender name="ZookeeperFileAppender" type="log4net.Appender.FileAppender">
        <filter type="log4net.Filter.LoggerMatchFilter">
            <LoggerToMatch value="ZooKeeperNet."/>
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <LoggerToMatch value="Org.Apache.Zookeeper.Data."/>
        </filter>
        <filter type="log4net.Filter.DenyAllFilter" />
        <file value="zookeeper-logs.txt" />
        <appendToFile value="false" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="[%-5level] - [%logger] - %message%newline" />
        </layout>
    </appender>
</log4net>