<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	bootstrap="./bootstrap.php"
	colors="true"
	backupGlobals="false"
	backupStaticAttributes="false">

    <testsuite name="Kafka PHP Client Test Suite">
        <directory>./Kafka</directory>
    </testsuite>

    <filter>
        <blacklist>
            <directory>./</directory>
        </blacklist>
    </filter>
</phpunit>
