{{ with $value := getEnv "KAFKA_LOG4J_ROOT_LOGLEVEL" "INFO" }}{{ if ne $value "INFO" }}
log4j.rootLogger={{ $value }}, stdout
{{ end }}{{ end }}

{{ $loggers := getEnv "KAFKA_LOG4J_LOGGERS" "" -}}
{{ range $k, $v := splitToMapDefaults ","  "" $loggers}}
log4j.logger.{{ $k }}={{ $v -}}
{{ end }}
