log4j.rootLogger={{ getEnv "KAFKA_LOG4J_ROOT_LOGLEVEL" "INFO" }}, stdout

{{$loggers := getEnv "KAFKA_LOG4J_LOGGERS" "" -}}
{{ range $k, $v := splitToMapDefaults ","  "" $loggers}}
log4j.logger.{{ $k }}={{ $v -}}
{{ end }}