<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at
 
    http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
﻿<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <root>
        <level value="ALL" />
        <!--<appender-ref ref="ConsoleAppender" />-->
        <appender-ref ref="KafkaFileAppender" />
        <appender-ref ref="ZookeeperFileAppender" />
    </root>
    <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5level - %message - %logger%newline" />
        </layout>
    </appender>-->
    <appender name="KafkaFileAppender" type="log4net.Appender.FileAppender">
        <filter type="log4net.Filter.LoggerMatchFilter">
            <LoggerToMatch value="Kafka.Client."/>
        </filter>
        <filter type="log4net.Filter.DenyAllFilter" />
        <file value="kafka-logs.txt" />
        <appendToFile value="false" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="[%-5level] - [%logger] - %message%newline" />
        </layout>
    </appender>
    <appender name="ZookeeperFileAppender" type="log4net.Appender.FileAppender">
        <filter type="log4net.Filter.LoggerMatchFilter">
            <LoggerToMatch value="ZooKeeperNet."/>
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <LoggerToMatch value="Org.Apache.Zookeeper.Data."/>
        </filter>
        <filter type="log4net.Filter.DenyAllFilter" />
        <file value="zookeeper-logs.txt" />
        <appendToFile value="false" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="[%-5level] - [%logger] - %message%newline" />
        </layout>
    </appender>
</log4net>