# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: build

on:
  push:

jobs:
  validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11, 17, 21]
    name: Compile and Check Java ${{ matrix.java }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: ${{ matrix.java }}
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      env:
        GRADLE_BUILD_ACTION_CACHE_DEBUG_ENABLED: true
      with:
        gradle-version: current
        # Only write to the cache from trunk
        #cache-read-only: ${{ github.ref != 'refs/heads/trunk' }}
        # Cache downloaded JDKs in addition to the default directories.
        gradle-home-cache-includes: |
          caches
          notifications
          jdks
        gradle-home-cache-cleanup: true
        cache-overwrite-existing: true
    - name: Compile and validate
      run: ./gradlew --info check -x test
